.cache
.bashrc
.bash_logout
.bash_history
.dotnet
.config
.local
.npm
.certs
.gitconfig
.poshthemes
repos
.tmux/plugins
.motd_shown
.nuget/NuGet/NuGet.Config
.nvm/
.oh-my-zsh/
.p10k.zsh
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.vim/.netrwhist
.viminfo
.wget-hsts
.z
.zcompdump
.zcompdump-DESKTOP-AVT8U9D-5.8.1
.zcompdump-DESKTOP-AVT8U9D-5.8.1.zwc
.zprofile
.zsh_history
.zshrc.pre-oh-my-zsh
dotnet-install.sh
dotnet-install.sh.1
nvim-linux64.deb
zsh-syntax-highlighting/
.lesshst
.vscode-server
